:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.start{
  width: 10%;
  padding: 0.3rem;
  margin-bottom: 2%;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  font-size: 1.1rem;
  border-radius: 12px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#footer{
  color: #FEF2BF;
}

#footer a{
  text-decoration: none;
  color: #FEF2BF;
}

@media (max-width:1000px) {
  .container{
    width: 90%;
  }  
  
  .btn{
      display: inline-block;
      width: 40%;
      padding-top: 120px;
    }

  #footer{
    font-size: 2rem;
    margin-top: 10%;
  }
  #level-title{
    font-size: 5rem;
    line-height: 6rem;
  }

  .start{
    width: 20%;
    padding: 0.5rem;
    font-size: 2rem;
    margin-bottom: 10%;
    margin-top: 5%;
  }
}
